<div>
  <app-global-loader></app-global-loader>
  <nav *ngIf="authService.isLoggedIn()">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/product" routerLinkActive="active">product</a>
    <a
      routerLink="/users"
      *ngIf="(user$ | async)?.role === 'admin'"
      routerLinkActive="active"
      >Users</a
    >

    <div class="right-group">
      <select
        class="form-select form-select-sm"
        style="width: 120px"
        [(ngModel)]="selectedTheme"
        (change)="changeTheme(selectedTheme)"
      >
        <option *ngFor="let t of themes" [value]="t.value">
          {{ t.label }}
        </option>
      </select>
      <a routerLink="/add" routerLinkActive="active">Add</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
